{% extends 'base.html.twig' %}

{% block title %}Edit PresentationOfferFeature{% endblock %}

{% block body %}
    <h1>Edit PresentationOfferFeature</h1>

    {{ include('admin/offer/offer_featur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_offer_offer_featur_index') }}">back to list</a>

    {{ include('admin/offer/offer_featur/_delete_form.html.twig') }}
{% endblock %}
