{% extends 'base.html.twig' %}

{% block title %}New PresentationOfferFeature{% endblock %}

{% block body %}
    <h1>Create new PresentationOfferFeature</h1>

    {{ include('admin/offer/offer_featur/_form.html.twig') }}

    <a href="{{ path('admin_offer_offer_featur_index') }}">back to list</a>
{% endblock %}
