
<a id="titleHeader" href='{{ path('main_index') }}'>
    <img id="AppLogo" src="{{ asset('Icons/logo.svg') }}" alt="illustrations">
</a>
<nav>{{ include('presentation/inc/_presentationNav.html.twig') }}</nav>
{{ include('incForAll/myAccountMenu.html.twig') }}
