{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | modifier offre{% endblock %}

{% block body %}
    <h1>Modifier l'offre</h1>

    {{ include('admin/_formCRUD/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="formDelete">
        {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': 'admin_offer_offer_description_delete', 'id':  presentation_offer_description.id}) }}
    </div>

    {{ include('admin/_inc/_footerForm.html.twig') }}
{% endblock %}
