{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | nouvelle offre{% endblock %}

{% block body %}
    <h1>Créer une offre</h1>

    {{ include('admin/_formCRUD/_form.html.twig') }}

    <div class="linkAdmin">
        <a href="{{ path('admin_offer_offer_description_index') }}">back to list</a>
    </div>
{% endblock %}
