{% extends 'base.html.twig' %}

{% block title %}New PresentationFaqQuestion{% endblock %}

{% block body %}
    <h1>Create new PresentationFaqQuestion</h1>

    {{ include('admin/faq/faq_question/_form.html.twig') }}

    <a href="{{ path('admin_faq_faq_question_index') }}">back to list</a>
{% endblock %}
