{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | faq{% endblock %}


{% block pageTitle %}FAQ{% endblock %}
{% block body %}
    <div class="faqBody gradiantGroup">
    {% for i in 0..10 %}
        <span class="faqQuestion">
            <h3>Question N°{{ i }}</h3>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis esse eveniet facere hic ipsum
                laudantium magni molestiae officia quidem quisquam.  Culpa ea illo iste magnam provident quas
                recusandae rerum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda consequuntur corporis dolor
                dolorem expedita fuga, id ipsam minima repellat? Ab ex natus necessitatibus nostrum optio,
                sit sunt unde voluptatum.
            </P>
        </span>
    {% endfor %}
    </div>
{% endblock %}

{% block extraStyle %}


{% endblock %}
