/* Éléments principaux de la page */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*
{
    margin:0;
    padding:0;
}

body
{
    font-family				: 'Roboto Condensed', Arial, sans-serif;
    color					: black;
    height					: 90vh;
    width               : 100%;
}





::-webkit-scrollbar {
   display: none;
}



header{
    display:flex;
    justify-content: space-between;
    font-size               : 20px;
    letter-spacing          : 3px;
    position				: fixed;
    height					: 100px;
    width					: 100%;
    top						: 0px;
    left					: 0px;
    z-index: 100;
}

header a
{
    text-decoration: none;
    color:black;
    margin:0;
    padding:0;
}

#AppLogo
{
    height: 80px;
    width: 180px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50px / 80px;
}


#titleHeader{
    margin: 10px;
    height: 80px;
    width: 180px;
}

.headerPrincipal
{
    position:relative;
    top:20px;
    right:20px;
    text-align:right;
}

.headerChild
{
    border-bottom:2px solid black;
    border-left:2px solid black;
    padding: 0 25px;
    position:absolute;
    right: 0px;
}

.headerUl, .headerIl
{
    list-style: none !important;
    margin:0 !important;
    padding:0 !important;;
}

.hide
{
    display:none;
}

nav{

    display:flex;
    justify-content: space-between;
    font-size               : 20px;
    letter-spacing          : 3px;
    position				: relative;
    height					: 30px;
    width					: 75%;
    top                     :30px;
    margin: 10px;
}

.NavGroupe
{

}

.linkNav
{
    margin: 10px;
}


.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    top: 120px;
    width: 80%;
}
.flash-success
{
    border: 2px solid green;
    color: green;
}

.flash-erreur
{
    border: 2px solid red;
    color: red;
}

.alert{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    text-align: center;
}
.alert-danger
{
    border: 2px solid red;
    color: red;
}


/*

 */

.container
{
    border-radius: 30px;
    position				: relative;
    top						: 100px;
    padding: 10px;
    margin: 0 auto;
}

.mainContainer
{
    margin:20px 2px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(255, 255, 255,0.5), rgba(0,0,0,0));
    padding:20px;
}

h1
{
    text-align: center;
    margin-bottom: 40px;
}

h2{
    margin-bottom: 20px;
}

ul
{
    text-indent: 20px;
    margin-left: 30px;
}
.descriptionText{
    display: inline-block;
    height: min-content;
    width:40%
}
.mainIllustrationContainer{
    display: inline-block;
    height :20%;
    width : 50%;
    object-fit: contain;
    text-align: center;
}

.mainIllustration
{
    width: 50%;
}

/*
css page Nos Actus
 */

.blogContainer a,
.offerContainer a
{
    color: black;
    text-decoration: none;
}
.blogContainer
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.articlePreview
{
    display: inline-block;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 5px 20px black;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    transition: 300ms linear all;
    transform-origin: bottom left;
}

.articlePreview:hover{
    transform: rotate(-1deg) translateX(-10px) translatey(-15px) scale(1.05);
}

.articlePreviewTitle
{
    position: relative;
    top:-20px;
    margin: 0 20px;
    width:fit-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1px 5px;

}


.articlePreviewImage,
.offerImage
{
    width: 100%;
    height:150px;
    object-fit: contain;
    background-color: #FFFFFF;
}


.articlePreviewBody

{
    text-align: center;
    padding: 30px;
    Margin: 10px;
}


.articleContainer{
    width:80%;
    margin: 0 auto;
}

.articleBody{
    margin:20px;
    color: black;
}

.similarArticlesContainer
{
    margin-bottom: 40px;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.caroussel
{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    padding: 20px;
    margin: 10px;
}


.carousselItem
{
    margin-left: 1rem;
    scroll-snap-align: center;

}

.caroussel::-webkit-scrollbar {
    height: 3px;
    background-color: rgba(255,255,255,0.2);
    display: initial;
}

.caroussel::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
}



.caroussel::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


.carousselArticlePreview
{
    display: inline-block;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 5px 20px black;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}



.carousselArticlePreviewImage
{
    width: 100%;
    height:100px;
    object-fit: contain;
    background-color: #FFFFFF;
}


.carousselArticlePreviewBody

{
    text-align: center;
    top:-20px;
    padding: 30px;
    Margin: 10px;
}







.offerContainer
{
    display: inline-block;
    height: auto;
    width: 300px;
    border-radius: 10px;
    margin: 20px 5px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
}

.allOffersContainer
{
    margin: auto;
    width:100%;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.offerBody
{
    text-align: left !important;
    height: 220px;
}

.price
{
    color: blue;
    font-size: 25px;
    font-weight: bolder;
}

.offerFooter{
    padding: 20px;
}

.offerName
{
    color: Black;
    font-size:35px;
    font-weight: bolder;
}


.monthOrYear
{
    color: grey;
    font-size:20px;
    font-weight: bold;
}

.offerSubTitle
{

    color: grey;
    font-size:20px;
    font-weight: bold;
}

/*
css page Faq
 */
.faqBody, .contactBody
{
    border-radius: 20px;
    padding: 10px;
}
.faqQuestion
{
    display: inline-block;
    margin: 20px;
}

.gradiantGroup
{
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.2));

}

/*
css page contact
 */

.blockFormContact
{
    display: inline-block;
    margin: 20px;
}


.blockFormArticle,
.blockFormOffer,
.blockFormConnexion,
.blockFormDescription
{
    margin: 20px;
}

label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea
{
    border: inherit;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 10px 5px 20px gray;
    box-sizing: content-box;
    width: 300px;
    height: 30px;
}

textarea
{
    height:120px;
}

input[type="checkbox"]
{
    box-shadow: none;
    width: 20px;
    height:20px;
    position: relative;
    top:5px;
    margin: 10px;
    padding: 5px;
}

input[type="file"]
{
    box-shadow: none;
    height:20px;
    position: relative;
    top:5px;
    margin: 10px;
    padding: 5px;
}

input[type="file"]::-webkit-file-upload-button
{
    margin-right: 10px;
    height: 20px;
    width: 120px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}


.labelFeatureFormOffer>label
{
    font-weight: normal;
    display: inline-block;
}
.labelFeatureFormOffer,
.widgetFeatureFormOffer,
.subBlockFormOffer
{
    display: inline-block;
}


.checkboxLineFormOffer
{
    display: block;

}

.checkboxGroupFormOffer
{
    display: inline-block;
    width:300px
}

.subBlockFormOffer input{
    width: 130px;
    margin-right: 20px;
}

.widgetFromContact select
{
    width: 660px;
}


.widgetFormNewArticle select
{
    width: 300px;
}

.widgetFromContact textarea
{
    width: 660px;
}

.required:after
{
    content: "*";
}

.button{
    display: block;
    margin: 20px;
    padding: 5px;
    margin-bottom: 50px;
    height: 30px;
    width: 120px;
    background-color: mediumblue;
    box-sizing: content-box;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFormContact
{
    width: 660px;
    text-align: right;
}

.center{
    margin: auto !important;
}

.cke
{
    border-radius: 20px;
    box-shadow: 10px 5px 20px black;
}

.cke_inner,
.cke_top,
.cke_bottom
{
    border-radius: 20px;
}


.notEnable
{
    color: rgba(255, 255, 255, .2);
}

.tableAdmin thead{
    background-color			: rgb(5, 138, 255);
}

.tableAdmin tbody tr:nth-child(even)
{
    background-color			: rgb(84, 214, 252);
}

.tableAdmin tbody tr:hover
{
    background-color			: #D1D4DF !important;
}

.tableAdmin
{
    letter-spacing				: 1px;
    font-family					: Roboto condensed;
    font-size					: 15px;
    table-layout				: auto;
    width						: 100%;
    border-collapse				: collapse;
}

.tableAdminDetail
 {
     letter-spacing				: 1px;
     font-family					: Roboto condensed;
     font-size					: 15px;
     table-layout				: auto;
     width						: 50%;
     border-collapse			: collapse;
    background-color			: rgb(84, 214, 252);
 }


.tableAdminDetail td:nth-child(even)
{
    background-color			: rgb(127,232,255);
}

.tableAdmin th, .tableAdmin td,.tableAdmin tr,
.tableAdminDetail th, .tableAdminDetail td,.tableAdminDetail tr
{
    border						: 1px solid black;
}
