<span class="descriptionText">
    <h1>Retrouvez tous les outils de gestion des joueurs de votre club dans une seul appli web</h1>
    <p>
        {{ include('incForAll/_name.html.twig')}}

        est une suite d'outils qui vous permet de gérer l'ensemble des sportifs de votre club.
        Partant du constat qu'il n'existait pas d'application qui centralisait tous les outils que vous utiliser au quotidien, nous l'avons créée
    </p>
</span>
<span class="mainIllustrationContainer">
    <img class="mainIllustration"  src="{{ asset('Icons/image principal.png') }}" alt="illustrations">
</span>
