<span class="mainIllustration">
    <img  src="{{ asset('Icons/defaultImage.svg') }}" alt="illustrations">
</span>
<span class="descriptionText">
    <h1>Gerez votre club de foot avec les outils SpMgnt</h1>
    <p>
        {{ include('presentation/inc/_name.html.twig')}}  ets une application web qui permettent de gérer votre club de sport selon vos besoin.
        <br>
        elle peut intégrer:
        <ul>
            <li>La estion Genéral du club (classement, calendrier)</li>
            <li>La gestion des convocations des joueurs</li>
            <li>La gestion des matchs (commentaires - compositions / avant et après match)</li>
            <li>La gestions des scéances d'entrainements (programme, commentaires...)</li>
            <li>le suivi des joueurs</li>
            <li>Et plus encore</li>
        </ul>
    </p>
</span>
