<span class="descriptionText">
    <h1>Des outils simple et rapide a prendre en main</h1>
    <p>
        pour {{ include('incForAll/_name.html.twig')}} nous avons voulu créer des outils simple et facile a prendre en main.

    </p>
    <ul>
        <li>un découpage intuitif</li>
        <li>des formulaires simple</li>
    </ul>
</span>
<span class="mainIllustrationContainer">
    <img class="mainIllustration"  src="{{ asset('Icons/image principal.png') }}" alt="illustrations">
</span>
