<img id="AppLogo" src="{{ asset('Icons/logo.svg') }}" alt="illustrations">
{# todo mettre le logo du club #}
<a id="titleHeader" href='{{ path('main_index') }}'>
    <img id="AppLogo" src="{{ asset('Icons/logo.svg') }}" alt="illustrations">
</a>
{{ include('incForAll/myAccountMenu.html.twig') }}
