
<ul class="navGroupe" id="menuPrincipal">
    <li>
        <a href="{{ path('application_main') }}" class="linkNav">Accueil</a>
    </li>
    <li>
        <a href="{{ path('application_calendar') }}" class="linkNav">Calendrier</a>
    </li>
    <li>
        <a href=""class="linkNav">Convocation</a>
    </li>
    <li>
        <a href="" class="linkNav">Match</a>
    </li>
    <li>
        <a href="" class="linkNav">Scéance</a>
    </li>
    <li>
        <a href="" class="linkNav">Suivi des joueurs</a>
    </li>
    <li>
        <a href="" class="linkNav">Gestion des blessures</a>
    </li>
    <li>
        <a href="" class="linkNav">Nutrition</a>
    </li>
</ul>
