{% extends 'base.html.twig' %}

{% block title %}New PresentationBlogCategorie{% endblock %}

{% block body %}
    <h1>Create new PresentationBlogCategorie</h1>

    {{ include('admin/blog/blog_categorie/_form.html.twig') }}

    <a href="{{ path('admin_blog_blog_categorie_index') }}">back to list</a>
{% endblock %}
