{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Modifier article{% endblock %}

{% block body %}
    <h1>Modifier l'article du blog : </h1>
    {% set pathUrl='admin_blog_article' %}

    {{ include('admin/_formCRUD/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="formDelete">
        {{ include('admin/_formCRUD/_delete_form.html.twig',{'pathUrl': pathUrl, 'id':  presentation_blog_article.id}) }}
    </div>
    {{ include('admin/_inc/_footerForm.html.twig',{'pathUrl':pathUrl}) }}


{% endblock %}
