<div class="titleHeader">
    <img id="AppLogo" src="{{ asset('Icons/logo.svg') }}" alt="illustrations">
    <div class="adminHeaderGroup">
        <h1>{{ include('incForAll/_name.html.twig') }}</h1>
        <h2>configuration du site de presentation</h2>
    </div>
</div>
{{ include('incForAll/myAccountMenu.html.twig') }}
