<div class="linkAdmin">
    <a href="{{ path('admin_blog_blog_article_edit', {'id': presentation_blog_article.id}) }}">modifier</a>
    <br>
    <a href="{{ path('admin_blog_blog_article_index') }}">liste</a>
    <br>
    <a href="{{ path('admin')}}">menu principal</a>

</div>
