{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | nouveau sujet{% endblock %}

{% block body %}
    <h1>Créer un sujet pour le formulaire de contact</h1>

    {{ include('admin/_formCRUD/_form.html.twig') }}

    <div class="linkAdmin">
        <a href="{{ path('admin_contact_subject_index') }}">back to list</a>
    </div>
{% endblock %}
