<span class="mainIllustration">
    <img  src="{{ asset('Icons/defaultImage.svg') }}" alt="illustrations">
</span>
<span class="descriptionText">
    <h1>Gerez votre club de foot avec les outils SpMgnt</h1>
    <p>
        SpMgnt ets une application web.
        <br> Amateur ou professionel, elle centralise tous les outils qui permettent de gérer votre club de sport:
        <ul>
            <li>Gestion Genéral du club (classement, calendrier)</li>
            <li>Gestion des convocations des joueurs</li>
            <li>Gestion des matchs (commentaires - compositions / avant et après match)</li>
            <li>Gestions des scéances d'entrainements (programme, commentaires...)</li>
            <li>Suivi des joueurs</li>
            <li>Et plus encore</li>
        </ul>
    </p>
</span>
