{% extends 'admin/adminBase.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle disponibilité{% endblock %}

{% block body %}
    <h1>créer une disponibilité</h1>

    {{ include('admin/_formCRUD/_form.html.twig') }}

    {{ include('admin/_inc/_footerForm.html.twig',{'pathUrl':'admin_application_player_disponibility'}) }}

{% endblock %}
