<span class="NavGroupe">
    <a href="{{path('offer_index')}}" class="linkNav">Nos Offres</a>
    <a href="{{ path('blog_index') }}" class="linkNav">Nos Actus</a>
    <a href="{{ path('main_faq') }}" class="linkNav">FAQ</a>
    <a href="{{ path('main_contact') }}" class="linkNav">Contact</a>
</span>
<span class="NavGroupe">
    <a href="#" class="linkNav notEnable">Evènement</a>
    <a href="#" class="linkNav notEnable">Emploi</a>
</span>
